<div class="background-pic-container">
    <img src="~/Images/cute-dog.jpg" style="float:right; max-height:50%;" class="img-responsive" />

    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-4" style="position:absolute; top:45%; left:0;">
                <div class="panel panel-default" style="opacity:.75;">

                    <form>
                        <div class="form-group" style="margin:0; opacity:inherit">
                            <input class="form-control text-center home-search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'What are you looking for?'" placeholder="What are you looking for?" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
