<div class="background-pic-container">

    <img src="~/Images/cute-dog.jpg" class="img-responsive background-pic" />


    <div class="panel panel-default search-panel" style="opacity:.75;">

        <form>
            <div class="form-group" style="margin:0; opacity:inherit">
                <input class="form-control text-center home-search-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Find your next best friend'" placeholder="Find your next best friend." />
            </div>
        </form>

    </div>


</div>

<div class="rest-of-content">
    <p>
        asdfasdfasdf
    </p>
    <p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p><p>
        asdfasdfasdf
    </p>
</div>