.background-pic-container {
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.navbar {
    margin-bottom: 0;
}

.home-search {
    height: 2.25em;
    font-size: 1.75em;
    color: black;
}

.home-search:active {
    opacity:1;
}
